version: '3.8'

services:
  isaaclab:
    image: ghcr.io/kartaltoth240560/isaac-lab:latest
    container_name: isaaclab-training
    runtime: nvidia
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - ACCEPT_EULA=Y
    volumes:
      - ./configs:/workspace/configs:rw
      - ./scripts:/workspace/scripts:rw
      - ./outputs:/workspace/outputs:rw
      
    network_mode: host
    stdin_open: true
    tty: true
    command: tail -f /dev/null
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]